/*body {
  position: relative;
}

svg,
canvas {
  position: absolute;
}

.axis text {
  font: 10px sans-serif;
}*/
/*svg {
  position: absolute;
}*/

canvas {
  padding: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}
