svg {
  padding: 2px;
  padding-left:7px
  padding-top:5px
}

.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: white;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
