body {
  font: 10px sans-serif;
}

svg {
  padding: 2px;
  padding-left:7px
  padding-top:5px
}

.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
